body{
    font-family:ubuntu;
}

.container {
background: #FAFAFA;
background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
position: relative;
z-index: 10;
border-bottom: 1px solid #CACACA;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0 10px rgba(0, 0, 0, 0.1);
width: 920px;
margin: 0 auto;
border-radius:5px;
height:50px;
}
.clearfix {
display: block;
}
.clearfix::after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}


a { text-decoration:none;padding:5px;color:black;}

#footer {
background: #FAFAFA;
background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
position: relative;
bottom:0px;
position:fixed;
z-index: 10;
border-bottom: 1px solid #CACACA;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4),0 0 10px rgba(0, 0, 0, 0.1);
}

.content{
width: 920px;
margin: 0 auto;
}

#content_inner{
margin-top:15px;
height:250px;
}

#left{
float:left;
width:255px;
}
#right{
float:left;
width:405px;
padding-right:20px;
}
#junk{
float:left;
width:200px;
border-left:1px solid #CACACA;
margin-top:25px;
}
.section {width:700px;height:60px;float:left;clear:both;}
.section ul { float:left;list-style:none;padding:0px;clear:both;}
.section ul li { float:left; }
